*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.body{
    background-color: #520052;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='564' height='564' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23630063' stroke-width='3.2'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23840084'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
}

.tit{
    font-family: serif;
    font-size: 15rem;
    color: wheat;
}

.taskBar{
    width: auto;
    background: rgba(255, 255, 255);
    border-bottom: black 1px solid;
    height: 200px;
}

.taskBarLogo {
    width: 180px;
    padding: 20px;
    position: absolute;
    left: 1%;
}
.taskBarContent {
    display: flex; 
    justify-content: flex-end;
    height: fit-content;
}

.taskbarBtns {
    transition: .5s;
    list-style-type: none;
    padding: 20px;
    width: 50px;
    height: 100px;
    line-height: normal;
    height: fit-content;
    text-align: center;
    margin: 70px 30px 10px 0;
    color: black;
    font-size: 30px;
}

.taskbarBtns .fa-solid {
    line-height: 1.2;
}

.taskBarLogo{
    animation: slideRight ease-in-out 1s ;
}

.fa-solid {
    cursor: pointer;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 1000px;
    position: absolute;
    top: 5%;
    left: 30%;
}
  
.input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 75px;
    padding-left: 4rem;
    border: rgb(54, 40, 40) 1px solid;
    border-radius: 12px;
    background-color: #d6d4d4;
    color: black;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    font-size: 30px;
    box-shadow: 0 0px 15px 5px inset rgb(105, 105, 105);
}
  
.input::placeholder {
    color: #000000;
}
  
.input:active {
    transform: scale(0.97);
}
  
.search-icon {
    position: absolute;
    left: 1rem;
    top: 20;
    fill: #000000;
    width: 30px;
    height: 30px;
    pointer-events: none;
    z-index: 1;
}

.userdropdown {
    display: none;
    position: absolute;
    top: 9.8%;
    left: 85%;
    width: 300px;
    padding: 20px;
    z-index: 600;
    background-color: #fff;
    padding-right: 20px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .08);
    transition: transform .3s;
    cursor: pointer;
}

.cartdropdown {
    display: none;
    position: absolute;
    top: 9.8%;
    left: 85%;
    width: 300px;
    padding: 20px;
    z-index: 600;
    background-color: #fff;
    padding-right: 20px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .08);
    transition: transform .3s;
}

#user:hover div#userdropdown{
    display: block;
    color: white;
}

.servicedropdown {
    display: none;
    position: absolute;
    top: 9.8%;
    left: 85%;
    width: 300px;
    padding: 20px;
    z-index: 600;
    background-color: #fff;
    padding-right: 20px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .08);
    transition: transform .3s;
}

.servicon{
    text-align: center;
    margin: auto 20px auto 0;
    font-size: 30px;
}

.dropdowntext {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.usersub{
    padding: 3px;
}

.usersub:hover {
    width: 100%;
    background: #c2c2c2;
}

.servtext {
    font-size: 20px;
    font-weight: 500;
}

.carttext {
    font-size: 30px;
    font-weight: 500;
}

.servcontent{
    width: 240px;
}

.dropdowntext.sub {
    margin: 10px 0 0 0;
    color: #707070;
}

.dropdowntext.serv.sub{
    font-size: 15px;
}

.userhr {
    margin: 10px 0 10px 0;
}

.servhr{
    margin: 0;
}

.section1{
    margin: 100 0 0 0;
    padding: 50px;
    background: rgba(255, 255, 255);
    font-size: 40px;
}

.homeslider {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}

.tshirtslides {
    width: 500px;
}



@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100);
    }
}





